table {
  background-color: black;
}

tr {
  background-color: grey;
  height: 30px;
}

th {
  background-color: lightgrey;
}

td {
  min-width: 10px;
}

.response div {
  width: 5px;
  height: 5px;
  margin: 2px;
}
