table {
  background-color: black;
}

tr {
  height: 30px;
}

td {
  min-width: 10px;
}

.request, .response {
  background-color: grey;
}

.response div {
  width: 5px;
  height: 5px;
  margin: 2px;
}
